@model CommunAxiomWeb.Extend.ImageSegmentBlock

@if (Model.SetImageRight.Value)
{
    <div class="columns text-segment level-item">
        <div class="column is-three-quarters">
            <h1>@Model.Title</h1>
            <p>@Html.Raw(Model.Body)</p>
        </div>                                   
        <div class="column is-one-quarter">
            <img src="@Url.Content(WebApp.Media.ResizeImage(Model.ImageField, 1110))" />
        </div>
    </div>
}
else{
    <div class="columns text-segment level-item">
        <div class="column is-one-quarter">
            <img src="@Url.Content(WebApp.Media.ResizeImage(Model.ImageField, 1110))" />
        </div>
        <div class="column is-three-quarters">
            <h1>@Model.Title</h1>
            <p>@Html.Raw(Model.Body)</p>
        </div>
    </div>
}
