@model Piranha.Extend.Blocks.PageBlock

@if (Model.Body.Page != null)
{
    <div class="card">
        @if (Model.Body.Page.PrimaryImage.HasValue)
        {
            <div class="card-image">
                <a href="@WebApp.Url(Model)">
                    <img src="@Url.Content(WebApp.Media.ResizeImage(Model.Body.Page.PrimaryImage, 540, 200))">
                </a>
            </div>
        }
        <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">@Model.Body.Page.Title</p>
              </div>
            </div>

            <div class="content">
                <p>@Html.Raw(Model.Body.Page.Excerpt)</p>
                <a href="@WebApp.Url(Model)" class="btn btn-sm btn-primary">Read more</a>
            </div>
        </div>
    </div>
}
