@page
@model SinglePage<StandardPage>
@{ ViewData["Title"] = !string.IsNullOrEmpty(Model.Data.MetaTitle) ? Model.Data.MetaTitle : Model.Data.Title;
                var hasImage = Model.Data.PrimaryImage.HasValue; }
@section head {
    @WebApp.MetaTags(Model.Data)
}

<section class="@(hasImage ? "hero has-image" : "hero")" @(hasImage ? $"style=background-image:url({ @Url.Content(WebApp.Media.ResizeImage(Model.Data.PrimaryImage, 1920, 400)) })" : "")>
    <div class="dimmer"></div>
    <div class="hero-body">
        <div class="level title">
            <h1 class="level-item">@Model.Data.Title</h1>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Data.Excerpt))
        {
            <div class="level title">
                <div class="level-item lead">
                    @Html.Raw(Model.Data.Excerpt)
                </div>
            </div>
        }
    </div>
</section>

<main>
    @foreach (var block in Model.Data.Blocks)
    {
<div class="block @block.CssName()">
    <div class="container" >
        @Html.DisplayFor(m => block, block.GetType().Name)
    </div>
</div>}
</main>
